
body {
    background-color: black;
    background-image: url("img/giphy_looped_minimized.gif");
    /*background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");*/
 /* background-image: url("http://38.media.tumblr.com/772f593717196ce571d113b3eeebacb4/tumblr_mnjrchBip21qdje50o3_500.gif");*/
}

h1 {
    color: black;
    margin-left: 20px;
    text-shadow: 1px 1px;
}

table {
    border-collapse: collapse;
    margin: auto;
    border: 2px solid darkblue;
    background-color: black;
}

tr, td {
    height: 150px;
    width: 150px;
    border: 2px solid navy;
    margin: 0px;

}

.img {
    visibility: none;
}

#status{
    color:red;
}
